# Print Statement

In [1]:
print('Hello Measam') #String

Hello Measam

In [2]:
print(1) #numeric

1

In [5]:
print('1') #string

1

In [6]:
print(2 + 2) #numeric

4

In [7]:
print('2 + 2') #string

2 + 2

In [3]:
print(12.3) #Float

12.3

In [10]:
print(True) #Boolean

True

In [11]:
print(False)

False

In [17]:
print('Measam',13,False,5.8,'Pakistani','Farsi Baladi')

Measam 13 False 5.8 Pakistani Farsi Baladi

In [18]:
print('Measam',13,False,5.8,'Pakistani','Farsi Baladi', sep = ' @ ')

Measam @ 13 @ False @ 5.8 @ Pakistani @ Farsi Baladi

In [24]:
print('Hello World', end = '\t')
print('Hello Pakistan')
print('Hello Measam')

Hello World	Hello Pakistan
Hello Measam

How many escape characters in python?

In [25]:
name = 'Measam' #variable

In [26]:
name

'Measam'

In [27]:
print(name)

Measam

In [32]:
id(name)

1547089959432

In [31]:
print(id(name))
name2 = 'Hassan'

1547089959432